{% extends "base.html" %}
{% load static %}
{% block title %}Password Generator{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="p-4" style="max-width: 400px; margin: 0 auto;">
        <h1 class="text-left mb-3 text-white">Generated Password:</h1>
        <div id="password-display" class="form-control mb-3" ></div>


        <div class="text-center"> 
            <div id="copy-message-container" class="copy-message bg-yellow p-2">
                <p id="copy-message" class="text-black font-weight-bold m-0">Password not Copied</p>
            </div>
        </div>        
        <div class="text-center mb-2"> 
            <button id="generate-button" class="btn mt-3">
                <i class="fas fa-rotate text-white"></i>
            </button>
            &nbsp;  
            <button id="copy-button" class="btn mt-3">
                <i class="far fa-copy text-white"></i>
            </button>
        </div>
      
        <div class="form-check form-check-inline mt-1 text-center">
            <label for="length" class="text-white">Length: </label>
            <input type="range" id="length" class="form-control-range" min="8" max="100" value="12">
            <span id="length-value" class="letra">12</span>
            &nbsp;
            <input type="checkbox" id="include-numbers" class="form-check-input" checked>
            <label class="form-check-label text-white" for="include-numbers">Numbers</label>
            &nbsp;
            <input type="checkbox" id="include-special" class="form-check-input">
            <label class="form-check-label text-white" for="include-special">Symbols</label>
        </div>
    </div>
</div>




<script src="{% static 'js/password_generator.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



{% endblock %}
